@page "/test"
@using BlazorApp20.Models
<h3>Test</h3>

<p>this is a test page , count is @_count</p>
<p>person name is @_person.Name , age is @_person.Age</p>

<Counter InitialCount="_count" Person="_person" OnUpdated="@OnChange" OnPersonUpdated="OnUpdate"/>



