@page "/test"
@using BlazorApp20.Models
<h3>Test</h3>

<p>this is a test page , count is @_count</p>
<p>person name is @_person.Name , age is @_person.Age</p>

<Counter InitialCount="_count" Person="_person" OnUpdated="@OnChange" OnPersonUpdated="OnUpdate"/>




@code {

    private int _count = 5;

    private Person _person = new Person { Name = "John", Age = 30 };

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine($"Parent---OnInitializedAsync={_count}");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Console.WriteLine($"Parent---OnAfterRenderAsync={_count}");
    }

    void OnUpdate(Person person)
    {
        _person = person;
    }

    void OnChange(int count)
    {
        _count = count;

        InvokeAsync(StateHasChanged);
    }
}