<!-- 子组件 1 ChildComponent1.razor -->
<h3>Child Component 1</h3>

<GrandsonComponent/>

@code {
    protected override void OnInitialized()
    {
        Console.WriteLine("Child 1: OnInitialized");
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        Console.WriteLine("Child 1: OnParametersSet");
        base.OnParametersSet();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine("Child 1: OnAfterRender");
        base.OnAfterRender(firstRender);
    }
}
